<ion-view title="{{createMode}}"> 
<ion-nav-buttons side="left">
    <a ui-sref="newsfeed.main" class="button-icon">
    <i class="icon ion-ios7-arrow-left positive"></i>
  </a>
</ion-nav-buttons>
<ion-nav-buttons side="right">
<div class="button button-clear button-positive icon ion-ios7-checkmark-empty" ng-click="save()"></div>
</ion-nav-buttons> 


<ion-content>
<form name="create">
<div class="list">
	<div class="item item-divider"></div>
	<div class="item item-input">
		<span class="input-label"><i
			class="icon ion-flag"></i> Title</span> <input ng-model="event.title" type="text">
	</div>
		<div class="item item-input">
		<span class="input-label" ><i
			class="icon ion-ios7-pricetag-outline"></i> Tags</span> <input ng-model="event.tags" type="text" placeholder="cloud,mobile,social">
	</div>
	<div class="item item-divider"></div>
	<div class="item item-input">
		<span class="input-label"><i class="icon ion-ios7-clock-outline"></i> Start</span>
		<input ng-model="event.start" type="datetime-local">
	</div>
	<div class="item item-input">
		<span class="input-label"><i class="icon ion-ios7-clock-outline"></i> End</span> 
		<input ng-model="event.end" type="time">
	</div>
	<div class="item">
		<span class="input-label"><i class="icon ion-ios7-location-outline"></i> Location</span>
		<p><input ng-model="event.location" id="autocomplete-search" type="text"></p>
	</div>	
	
	<div class="item item-input item-select">
	<span class="input-label">State/Territory</span>
	<select ng-model="event.state">
	<option>ACT</option>	
	<option>NSW</option>
	<option>VIC</option>
	<option>QLD</option>
	<option>WA</option>
	<option>TAS</option>
	<option>NT</option>
	</select>
	</div>
	<div class="item item-divider"></div>
	<div class="item"><span class="input-label"><i class="icon ion-calendar"></i> Description</span>
	<textarea rows="3" cols="50" ng-model="event.description"></textarea></div>
		<div class="item item-divider"></div>
</div>

</form>	
</ion-content> </ion-view>