<ion-view>
<ion-content has-header="true">
          <div class="list">
            <div class="item item-input-inset">
              <label class="item-input-wrapper">
                
                <i
				class="icon ion-search placeholder-icon">
              </i>
              
              <input type="text"
              placeholder="Search">
          </label>
      </div>
      </div>
      <div class="circular">
      </div>
      <button class="button button-full button-clear button-positive"
      style="text-align: left; padding-left: 75px">
        My Events
      </button>
      <a class="button button-full button-clear button-positive"
      style="text-align: left; padding-left: 75px" href="#/wizard/setup">
        Update Tags
      </a>
      <a class="button button-full button-clear button-positive"
      style="text-align: left; padding-left: 75px" href="#/settings">
        Settings
      </a>
      <a class="button button-full button-clear button-assertive"
      href="#/login" style="text-align: left; padding-left: 75px">
        Logout
      </a>
      </ion-content>
      </ion-view>