<ion-header-bar class="bar-light">
  <button class="button button-clear button-positive" style="font-size:13px" ng-click="toggleRight()">
    <!-- 	
<i class="icon positive ion-ios7-arrow-thin-left">
</i>
-->
            Back
     </button>
     <h1 class="title">
       {{currEvent.getTitle()}}
     </h1>
     <button ng-if="user.email != currEvent.getCreatorEmail()" class="button button-icon" ng-click="toggleRight()">
       <i class="icon positive ion-ios7-personadd-outline">
       </i>
     </button>
     <a ng-if="user.email == currEvent.getCreatorEmail()" class="button button-clear button-positive" style="font-size:13px" href="#/edit">
         Edit
     </a>
     
     
</ion-header-bar>

<ion-content has-header="true">
  
  <div class="card">
    <div class="item">
      <p>
        <i class="icon ion-calendar">
        </i>
        {{currEvent.getDetailedTime()}}
      </p>
      
    </div>
    <div class="item">
      <p>
        <i class="icon item-icon ion-location">
        </i>
        {{currEvent.getLocation()}}
        <a style="float:right; color:#4A87EE" ng-click="toggleMap()">
          {{mapToggleText}}
        </a>
      </p>
    </div>
    <div class="item" ng-show="showMap">
      <img class="full-image" src="images/gmap.jpg">
    </div>
  </div>
  <div class="card">
    <div class="item item-body">
      <div style="font-weight:700; padding-bottom:5px">
        Description:
      </div>
      {{currEvent.getDescription()}}
    </div>
  </div>
</ion-content>