<ion-view title="IBM Hangouts"> 
<ion-content>
<div class="card">
	<form class="item item-body" name="login" novalidate">
		<div class="circular" ng-style="getImage(switchUser);"></div>
		<div class="list list-inset">
			<label class="item item-input"> <i
				class="icon placeholder-icon energized"
				ng-class="!login.email.$valid && !login.email.$pristine ? 'ion-alert-circled' : ''"></i>
				<input name="email" type="email" ng-model="user.username" required
				placeholder="Email">
			</label> 
			<label class="item item-input"> <i
				class="icon placeholder-icon energized"></i> <input name="password"
				type="password" ng-model="user.password" required placeholder="Password">
			</label>
			<button class="button button-block button-positive"
				ng-click="validate(user)">Login</button>
		</div>
	</form>
</div>

<div ui-sref="register" style="text-align:center">
Register
</div>
</ion-content> </ion-view>