<ion-view title="Settings" >
<ion-nav-buttons side="left">
    <a href="#/newsfeed/main" class="button-icon">
    <i class="icon ion-ios7-arrow-left positive"></i>
  </a>
</ion-nav-buttons>
<!-- <ion-nav-buttons side="right"> -->
<!--     <a href="#/newsfeed" class="button-icon" ng-show="isStatic"> -->
<!--     <i class="icon ion-ios7-checkmark-empty positive"></i> -->
<!--   </a> -->
<!-- </ion-nav-buttons> -->
<ion-content>
<ul class="list">
	<div class="item item-divider">Notify me about:</div>
	<li class="item item-toggle">Events <label
		class="toggle toggle-positive"> <input type="checkbox" ng-model="showEvents">
			<div class="track">
				<div class="handle"></div>
			</div>
	</label>
	</li>
	<li class="item item-toggle">Experts <label
		class="toggle toggle-positive"> <input type="checkbox" ng-model="showPeople">
			<div class="track">
				<div class="handle"></div>
			</div>
	</label>
	</li>
	<div class="item item-divider">Make me visible to:</div>
	<li class="item item-toggle">My Communities<label
		class="toggle toggle-positive"> <input type="checkbox">
			<div class="track">
				<div class="handle"></div>
			</div>
	</label>
	</li>
	<li class="item item-toggle">Everyone<label
		class="toggle toggle-positive"> <input type="checkbox">
			<div class="track">
				<div class="handle"></div>
			</div>
	</label>
	</li>
</ul>
</ion-content>
</ion-view>